<div class="faern-currency">
  {{#if currency.pp}}<span class="faern-coin faern-coin--pp"><i class="fas fa-circle"></i> {{currency.pp}}pp</span>{{/if}}
  {{#if currency.gp}}<span class="faern-coin faern-coin--gp"><i class="fas fa-circle"></i> {{currency.gp}}gp</span>{{/if}}
  {{#if currency.ep}}<span class="faern-coin faern-coin--ep"><i class="fas fa-circle"></i> {{currency.ep}}ep</span>{{/if}}
  {{#if currency.sp}}<span class="faern-coin faern-coin--sp"><i class="fas fa-circle"></i> {{currency.sp}}sp</span>{{/if}}
  {{#if currency.cp}}<span class="faern-coin faern-coin--cp"><i class="fas fa-circle"></i> {{currency.cp}}cp</span>{{/if}}
</div>
